<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
</head>
<body>
    <h1>ALL USER QUERIES</h1>
    <table>
        <tr style="border:2px solid black;background-color: cornflowerblue;">
            <th><h3>ID</h3></th>
            <th><h3>CITY</h3></th>
            <th><h3>LATITUDE</h3></th>
            <th><h3>LONGITUDE</h3></th>
            <th><h3>TEMP</h3></th>
            <th><h3>MAX TEMP</h3></th>
            <th><h3>MIN TEMP</h3></th>
        </tr>
        {% for row in rows %}
        <tr style="border:2px solid black;background-color: antiquewhite;">
            <td><h5>{{row['id']}}</h5></td>
            <td><h5>{{row['city']}}</h5></td>
            <td><h5>{{row['latitude']}}</h5></td>
            <td><h5>{{row['longitude']}}</h5></td>
            <td><h5>{{row['temp']}}</h5></td>
            <td><h5>{{row['max_temp']}}</h5></td>
            <td><h5>{{row['min_temp']}}</h5></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>